<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Civilized Coffee</title>

    <!-- Bootstrap stuff -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">

    <link rel="stylesheet" href="/css/master.css">
    <link rel="stylesheet" href="/css/header.css">

  </head>
  <body>

    <% include ../../templates/header.ejs %>



    <div class="container-fluid">
      <div class="row">
        <div class="col-md-5">
          <h3>Our Drinks</h3>
          <ul>
            <% drinks.sort( (a, b) => a.name.localeCompare(b.name));
            for (var i = 0; i < drinks.length; i++ ) { %>
              <li>
                <a href="drinks/<%= drinks[i]._id%>">
                  <%= drinks[i].name %>
                </a>
              </li>
            <% } %>
          </ul>

          <a href="/drinks/new">New Drink</a>
        </div>

        <div class="col-md-7 imgDiv">
          <img src="http://i.imgur.com/p4GSo3l.jpg" alt="">
        </div>
      </div>
    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="bootstrap/js/bootstrap.min.js"></script>


  </body>
</html>
