<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Civilized coffee</title>

    <!-- Bootstrap stuff -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../../bootstrap/css/bootstrap.min.css">

    <link rel="stylesheet" href="/css/master.css">
    <link rel="stylesheet" href="/css/header.css">

  </head>
  <body>
    <% include ../../templates/header.ejs %>

    <div class="container-fluid">
      <div class="row">
        <div class="col-md-5">
          <h3>Make A New Drink</h3>

          <form class="" action="/drinks" method="post">

            <% include ../../templates/drink_form_fields.ejs %>

            <div class="form-group">
              <input type="submit" name="" value="Make Drink">
              <input type="reset" name="" value="Reset">
              <a href="/drinks/<%= drink._id%>">Cancel</a>
            </div>
          </form>
        </div>
      </div>
    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="../../bootstrap/js/bootstrap.min.js"></script>

  </body>
</html>
