<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Jittery Coffee</title>
</head>
<body>
  <h1>Jittery Coffee</h1>

  <a href="/shops">shops</a>
  <a href="/shops/new">nwq Shops</a>
</body>
</html>
