/*Contains css for header and footer templates.*/

/**************************************/
/*Header*/

.jumbotron {
  margin-bottom: 0px;
  padding-left: 40px;
  padding-right: 40px;
  color: #453823;
  background-color: #C0A172;
}

.navbar {
  margin-bottom: 0;
  background-color: #C0A172;
  border-width: 1px 0 1px 0;
  border-color: #453823;
  border-radius: 0;
}

.navbar-default {
  color: #453823;

}

.navbar-right {
  padding-right: 15px;
}

a:link, a:visited, a:hover, a:focus, a:active  {
  color: #453823;

}

.navbar-default .navbar-nav > li > a {
  color: #453823;
}

.navbar-default .navbar-text {
  color: #453823;
}

/****************************/
 /* Footer */


.footer {
  color: #453823;
  background-color: #C0A172;
  padding: 10px 10px;
  font-size: smaller;
  border-top: 1px solid #453823;
  border-bottom: 1px solid #453823;
}
