<!-- Fields used on new and edit event forms -->
<!-- Edit has the variable "event" defined while new does not -->

<div class="form-group">
  <label>Name</label>
  <input type="text" name="name" value="<%= event.name%>" class="form-control" placeholder="Name">
</div>


<div class="form-group">
  <label>Name</label>
  <input type="text" name="description" value="<%= event.description%>" class="form-control" placeholder="Description">
</div>

<div class="form-group">
  <label>Name</label>
  <input type="text" name="date" value="<%= event.date%>" class="form-control" placeholder="Date">
</div>
