<header>
  <!-- <h1>Jittery Coffee</h1> -->
  <div class="containter-fluid">
    <div class="jumbotron">
      <h1>Civilized Coffee</h1>
      Civilization Was Built On Coffee
    </div>

    <nav class="navbar navbar-default">
      <ul class="nav navbar-nav">
        <li id="navHome" class="active navLink">
          <a href="/">
            Home
          </a>
        </li>
        <li id="navShops" class="navLink">
          <a href="/shops">Our Shops</a>
        </li>
        <li id="navDrinks" class="navLink">
          <a href="/drinks">Our Drinks</a>
        </li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <% if (currentUser) { %>
          <li><p class="navbar-text">Signed in as <%= currentUser %></p></li>
          <li class="navLink"><a href="/users/signout">Sign Out</a></li>
        <% } else { %>
          <li id="navSignIn" class="navLink">
            <a href="/users">Sign In</a>
          </li>
        <% } %>
      </ul>
    </nav>
  </div>
  <% currentUser %>
</header>
