<header>
  <!-- <h1>Jittery Coffee</h1> -->
  <div class="containter">
    <div class="jumbotron">
      <h1>Civilized Coffee</h1>
      Because Civilization Was Built On Coffee
    </div>

    <nav class="navbar navbar-default">
      <ul class="nav navbar-nav">
        <li class="active">
          <a href="/">
            Home
          </a>
        </li>
        <li>
          <a href="/shops">Our Shops</a>
        </li>
        <li>
          <a href="/drinks">Our Drinks</a>
        </li>

      </ul>
    </nav>
  </div>
</header>
